<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
<style>
html{font-size:14px}a.navbar-brand{white-space:normal;text-align:center;word-break:break-all}.dropdown-submenu{position:relative}.dropdown-submenu a::after{transform:rotate(-90deg);position:absolute;right:6px;top:.8em}.dropdown-submenu .dropdown-menu{top:0;left:100%;margin-left:.1rem;margin-right:.1rem}.checkbox-fix{margin-top:15px}#grid{height:calc(75vh)}#spreadsheet{width:100%;height:calc(75vh)}.text-block{padding-top:10px;padding-bottom:10px;text-align:justify;line-height:150%;font-size:16px}table.dataframe{border:1px solid #808080;background-color:#fff;width:100%;text-align:center;border-collapse:collapse}table.dataframe td,table.dataframe th{border:1px solid #808080;padding:3px 13px}table.dataframe tbody td{font-size:13px;text-align:center;padding:3px 13px}td:nth-child(1){background:#ccc}table.dataframe th{font-size:15px;background-color:#ccc;text-align:center}.k-button{color:#fff;background-color:#5cb85c;border-color:#4cae4c}.k-button:focus,.k-button.focus{color:#fff;background-color:#449d44;border-color:#255625}.k-button:hover{color:#fff;background-color:#449d44;border-color:#398439}.k-button:active,.k-button.active,.open>.dropdown-toggle.k-button{color:#fff;background-color:#449d44;border-color:#398439}.k-button:active:hover,.k-button.active:hover,.open>.dropdown-toggle.k-button:hover,.k-button:active:focus,.k-button.active:focus,.open>.dropdown-toggle.k-button:focus,.k-button:active.focus,.k-button.active.focus,.open>.dropdown-toggle.k-button.focus{color:#fff;background-color:#398439;border-color:#255625}.k-button:active,.k-button.active,.open>.dropdown-toggle.k-button{background-image:none}.k-button.disabled:hover,.k-button[disabled]:hover,fieldset[disabled] .k-button:hover,.k-button.disabled:focus,.k-button[disabled]:focus,fieldset[disabled] .k-button:focus,.k-button.disabled.focus,.k-button[disabled].focus,fieldset[disabled] .k-button.focus{background-color:#5cb85c;border-color:#4cae4c}.k-button .badge{color:#5cb85c;background-color:#fff}.k-numeric-wrap{width:100px}.disabledpanel{pointer-events:none;opacity:.4}
</style>
    <link rel="stylesheet" type="text/css" href='r2html.css'>

 <h1> InVivoStat (beta version) Chi-squared Test and Fisher's Exact Test</h1>

 <h2> Warning</h2>

<p class='character'>This output has been generated using the beta test version of InVivoStat. Care should be taken when making decisions based on the output.</p>

 <h2> Response</h2>

<p class='character'>The  CountCD response is currently being analysed by the Chi-squared Test and Fisher's Exact Test module. The response is separated into categories, as defined by the factors BinC and BinD2.</p>

<p class='character'>Note, this module should be used to analyse count data that can be expressed in the form of a contingency table. These tests assess the significance of the association (contingency) between the two treatment classifications.</p>

<p class='character'>For more information on the theoretical approaches that are implemented within this module, see Bate and Clark (2014).</p>

 <h2> Contingency table of counts</h2>


<p align="left">
<table cellspacing="0" border="1">
<caption align="bottom" class="captiondataframe"></caption>
<tr><td>
	<table border="0" class="dataframe">
	<tbody> 
	<tr class="second"> 
		<th>   </th>
		<th>a  </th>
		<th>s</th> 
	</tr> 
<tr> 
<td class="cellinside">x
</td>
<td class="cellinside"> 6
</td>
<td class="cellinside">7
</td></tr>
 
<tr> 
<td class="cellinside">y
</td>
<td class="cellinside">69
</td>
<td class="cellinside">3
</td></tr>
 
	</tbody>
</table>
 </td></tr></table>
 <br>

<p class='character'>The values in this table are the sum of the individual entries in the imported dataset.</p>

 <h2> Table of expected results (under the null hypothesis of no association)</h2>


<p align="left">
<table cellspacing="0" border="1">
<caption align="bottom" class="captiondataframe"></caption>
<tr><td>
	<table border="0" class="dataframe">
	<tbody> 
	<tr class="second"> 
		<th>   </th>
		<th>a  </th>
		<th>s  </th>
		<th>Column totals</th> 
	</tr> 
<tr> 
<td class="cellinside">x
</td>
<td class="cellinside">11.47
</td>
<td class="cellinside">1.53
</td>
<td class="cellinside">13
</td></tr>
 
<tr> 
<td class="cellinside">y
</td>
<td class="cellinside">63.53
</td>
<td class="cellinside">8.47
</td>
<td class="cellinside">72
</td></tr>
 
<tr> 
<td class="cellinside">Row totals
</td>
<td class="cellinside">75
</td>
<td class="cellinside">10
</td>
<td class="cellinside">85
</td></tr>
 
	</tbody>
</table>
 </td></tr></table>
 <br>

<p class='character'>The values in this table are the expected results, given the row and column totals, under the assumption of no association between the two factors.</p>

 <h2> Chi-squared test</h2>


<p align="left">
<table cellspacing="0" border="1">
<caption align="bottom" class="captiondataframe"></caption>
<tr><td>
	<table border="0" class="dataframe">
	<tbody> 
	<tr class="second"> 
		<th>   </th>
		<th>Test statistic  </th>
		<th>Degrees of freedom  </th>
		<th>p-value</th> 
	</tr> 
<tr> 
<td class="cellinside">Result
</td>
<td class="cellinside">21.61
</td>
<td class="cellinside">1
</td>
<td class="cellinside">< 0.0001
</td></tr>
 
	</tbody>
</table>
 </td></tr></table>
 <br>

 <h0> Note: For the 2 x 2 case, the chi-squared test is calculated with Yates' continuity correction.</h0>

<p class='character'>The chi-squared test is significant at the 5% level of significance as the p-value is less than 0.05.</p>

<p class='character'>Note: As a rule of thumb the chi-squared test results may not be valid for small datasets, for example when one or more of the expected values are less than 5.</p>

 <h2> Fisher's exact test</h2>


<p align="left">
<table cellspacing="0" border="1">
<caption align="bottom" class="captiondataframe"></caption>
<tr><td>
	<table border="0" class="dataframe">
	<tbody> 
	<tr class="second"> 
		<th>   </th>
		<th>p-value</th> 
	</tr> 
<tr> 
<td class="cellinside">Result
</td>
<td class="cellinside">< 0.0001
</td></tr>
 
	</tbody>
</table>
 </td></tr></table>
 <br>

<p class='character'>The Fisher's exact test is significant at the 5% level of significance as the p-value is less than 0.05.</p>

 <h2> Barnard's exact test</h2>


<p align="left">
<table cellspacing="0" border="1">
<caption align="bottom" class="captiondataframe"></caption>
<tr><td>
	<table border="0" class="dataframe">
	<tbody> 
	<tr class="second"> 
		<th>   </th>
		<th>p-value</th> 
	</tr> 
<tr> 
<td class="cellinside">Result
</td>
<td class="cellinside">< 0.0001
</td></tr>
 
	</tbody>
</table>
 </td></tr></table>
 <br>

<p class='character'>The p-value presented is two-sided.</p>

<p class='character'>The two-sided Barnard's exact test is significant at the 5% level of significance as the p-value is less than 0.05.</p>

<p class='character'>Barnard's test is a more powerful test than Fisher's exact test in certain situations as it is an unconditional test, see Lydersen et al. (2009). This test only assumes the row totals are fixed and not the column totals, unlike Fisher's exact test.</p>

 <h2> Statistical references</h2>

<p class='character'>Bate ST and Clark RA. (2014). The Design and Statistical Analysis of Animal Experiments. Cambridge University Press.</p>

<p class='character'>Lydersen S, Fagerland MW and Laake P. (2009). Recommended tests for association in 2 x 2 tables. Statistics in Medicine, 28, 1159-1175.</p>

 <h2> R references</h2>

<p class='character'>R Development Core Team (2013). R: A language and environment for statistical computing. R Foundation for Statistical Computing, Vienna, Austria. URL http://www.R-project.org.</p>

<p class='character'>Lecoutre, Eric (2003). The R2HTML Package. R News, Vol 3. N. 3, Vienna, Austria.</p>

<p class='character'>Peter Calhoun (2013). Exact: Unconditional Exact Test. R package version 1.4. http://CRAN.R-project.org/package=Exact.</p>

 <h2> Analysis options</h2>

<p class='character'>Response variable: CountCD</p>

<p class='character'>Grouping variable: BinC</p>

<p class='character'>Response categories variable: BinD2</p>

<p class='character'>Chi-squared test (Y/N): Y</p>

<p class='character'>Fisher's Exact test (Y/N): Y</p>

<p class='character'>Barnard's Exact test (Y/N): Y</p>

<p class='character'>One- or two-sided test: Two-sided</p>

<p class='character'>Significance level: 0.05</p>
