﻿@using System.Runtime.InteropServices
@model SilveR.Models.UserOption

@{
    ViewBag.Title = "User Options";
}
<h2>@ViewBag.Title</h2>

<form asp-controller="UserOptions" asp-action="UpdateUserOptions" method="post" class="form-horizontal">
    <fieldset>
        <input asp-for="UserOptionID" type="hidden">

        <ul class="nav nav-tabs">
            <li class="nav-item">
                <a class="nav-link active" data-toggle="tab" href="#one">Output Options</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#two">Graphics: Appearance</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#three">Graphics: Font</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#four">Graphics: Colour</a>
            </li>
            @if (!RuntimeInformation.IsOSPlatform(OSPlatform.Windows))
            {
                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#five">R Package Installation</a>
                </li>
            }
        </ul>

        <div class="tab-content ">
            <div class="tab-pane active" id="one">

                <div class="row">
                    <div class="col-md-6">
                        <div class="panel panel-default" style="margin:10px">
                            <div class="panel-heading"><h3>Output Options</h3></div>

                            <div class="panel-body">
                                <div class="form-group">
                                    <label asp-for="OutputData" class="control-label col-xs-4">Output data with results</label>
                                    <div class="col-xs-8">
                                        <input asp-for="OutputData" class="checkbox" type="checkbox">
                                    </div>
                                    <span asp-validation-for="OutputData" class="text-danger"></span>
                                </div>

                                <div class="form-group">
                                    <label asp-for="GeometryDisplay" class="control-label col-xs-4">Display geometric means</label>
                                    <div class="col-xs-8">
                                        <input asp-for="GeometryDisplay" class="checkbox" type="checkbox">
                                    </div>
                                    <span asp-validation-for="GeometryDisplay" class="text-danger"></span>
                                </div>

                                <div class="form-group">
                                    <label asp-for="DisplayModelCoefficients" class="control-label col-xs-4">Display model coefficients</label>
                                    <div class="col-xs-8">
                                        <input asp-for="DisplayModelCoefficients" class="checkbox" type="checkbox">
                                    </div>
                                    <span asp-validation-for="DisplayModelCoefficients" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="panel panel-default" style="margin:10px">
                            <div class="panel-heading"><h3>Covariate Output Options</h3></div>

                            <div class="panel-body">

                                <div class="panel-body">
                                    <div class="form-group">
                                        <label asp-for="CovariateRegressionCoefficients" class="control-label col-xs-4">Covariate regression coefficients</label>
                                        <div class="col-xs-8">
                                            <input asp-for="CovariateRegressionCoefficients" class="checkbox" type="checkbox">
                                        </div>
                                        <span asp-validation-for="CovariateRegressionCoefficients" class="text-danger"></span>
                                    </div>

                                    <div class="form-group">
                                        <label asp-for="AssessCovariateInteractions" class="control-label col-xs-4">Assess covariate interactions</label>
                                        <div class="col-xs-8">
                                            <input asp-for="AssessCovariateInteractions" class="checkbox" type="checkbox">
                                        </div>
                                        <span asp-validation-for="AssessCovariateInteractions" class="text-danger"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6">
                        <div class="panel panel-default" style="margin:10px">
                            <div class="panel-heading"><h3>Graph Size Options</h3></div>

                            <div class="panel-body">

                                <div class="form-group">
                                    <label asp-for="JpegHeight" class="control-label col-xs-4">Height of plot</label>
                                    <div class="col-xs-8">
                                        <input asp-for="JpegHeight" type="number" class="form-control">
                                    </div>
                                    <span asp-validation-for="JpegHeight" class="text-danger"></span>
                                </div>

                                <div class="form-group">
                                    <label asp-for="JpegWidth" class="control-label col-xs-4">Width of plot</label>
                                    <div class="col-xs-8">
                                        <input asp-for="JpegWidth" type="number" class="form-control">
                                    </div>
                                    <span asp-validation-for="JpegWidth" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="tab-pane" id="two">

                <div class="row">
                    <div class="col-md-6">
                        <div class="panel panel-default" style="margin:10px">
                            <div class="panel-heading"><h3>Markers</h3></div>

                            <div class="panel-body">
                                <div class="form-group">
                                    <label asp-for="PointSize" class="control-label col-xs-4">Size</label>
                                    <div class="col-xs-8">
                                        <input asp-for="PointSize" type="number" class="form-control">
                                    </div>
                                    <span asp-validation-for="PointSize" class="text-danger"></span>
                                </div>

                                <div class="form-group">
                                    <label asp-for="PointShape" class="control-label col-xs-4">Symbol</label>
                                    <div class="col-xs-8">
                                        <input asp-for="PointShape" type="number" class="form-control">
                                    </div>
                                    <span asp-validation-for="PointShape" class="text-danger"></span>
                                </div>

                                <div class="form-group">
                                    <label asp-for="DisplayPointLabels" class="control-label col-xs-4">Display marker labels</label>
                                    <div class="col-xs-8">
                                        <input asp-for="DisplayPointLabels" class="checkbox" type="checkbox">
                                    </div>
                                    <span asp-validation-for="DisplayPointLabels" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="panel panel-default" style="margin:10px">
                            <div class="panel-heading"><h3>Lines</h3></div>

                            <div class="panel-body">
                                <div class="form-group">
                                    <label asp-for="LineSize" class="control-label col-xs-4">Lines size</label>
                                    <div class="col-xs-8">
                                        <input asp-for="LineSize" type="number" class="form-control">
                                    </div>
                                    <span asp-validation-for="LineSize" class="text-danger"></span>
                                </div>

                                <div class="form-group">
                                    <label asp-for="LineTypeSolid" class="control-label col-xs-4">Solid type</label>
                                    <div class="col-xs-8">
                                        <select asp-for="LineTypeSolid" type="text" class="form-control">
                                            <option value="Blank">Blank</option>
                                            <option value="Solid">Solid</option>
                                            <option value="Dashed">Dashed</option>
                                            <option value="Dotted">Dotted</option>
                                            <option value="Dotdash">Dotdash</option>
                                            <option value="Longdash">Longdash</option>
                                            <option value="Twodash">Twodash</option>
                                        </select>
                                    </div>
                                    <span asp-validation-for="LineTypeSolid" class="text-danger"></span>
                                </div>

                                <div class="form-group">
                                    <label asp-for="LineTypeDashed" class="control-label col-xs-4">Dashed type</label>
                                    <div class="col-xs-8">
                                        <select asp-for="LineTypeDashed" type="text" class="form-control">
                                            <option value="Blank">Blank</option>
                                            <option value="Solid">Solid</option>
                                            <option value="Dashed">Dashed</option>
                                            <option value="Dotted">Dotted</option>
                                            <option value="Dotdash">Dotdash</option>
                                            <option value="Longdash">Longdash</option>
                                            <option value="Twodash">Twodash</option>
                                        </select>
                                    </div>
                                    <span asp-validation-for="LineTypeDashed" class="text-danger"></span>
                                </div>

                                <div class="form-group">
                                    <label asp-for="DisplayLSMeansLines" class="control-label col-xs-4">Display lines connecting means on the LS Means plot</label>
                                    <div class="col-xs-8">
                                        <input asp-for="DisplayLSMeansLines" class="checkbox" type="checkbox">
                                    </div>
                                    <span asp-validation-for="DisplayLSMeansLines" class="text-danger"></span>
                                </div>

                                <div class="form-group">
                                    <label asp-for="DisplaySEMLines" class="control-label col-xs-4">Display lines connecting means on the Means with SEM plot</label>
                                    <div class="col-xs-8">
                                        <input asp-for="DisplaySEMLines" class="checkbox" type="checkbox">
                                    </div>
                                    <span asp-validation-for="DisplaySEMLines" class="text-danger"></span>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6">
                        <div class="panel panel-default" style="margin:10px">
                            <div class="panel-heading"><h3>Markers Jitter Amount</h3></div>

                            <div class="panel-body">
                                <div class="form-group">
                                    <label asp-for="GraphicsHeightJitter" class="control-label col-xs-4">Horizontal</label>
                                    <div class="col-xs-8">
                                        <input asp-for="GraphicsHeightJitter" type="number" step="0.1" class="form-control">
                                    </div>
                                    <span asp-validation-for="GraphicsHeightJitter" class="text-danger"></span>
                                </div>

                                <div class="form-group">
                                    <label asp-for="GraphicsWidthJitter" class="control-label col-xs-4">Vertical</label>
                                    <div class="col-xs-8">
                                        <input asp-for="GraphicsWidthJitter" type="number" step="0.1" class="form-control">
                                    </div>
                                    <span asp-validation-for="GraphicsWidthJitter" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="panel panel-default" style="margin:10px">
                            <div class="panel-heading"><h3>Error Bars</h3></div>

                            <div class="panel-body">
                                <div class="form-group">
                                    <label asp-for="ErrorBarWidth" class="control-label col-xs-4">Size</label>
                                    <div class="col-xs-8">
                                        <input asp-for="ErrorBarWidth" type="number" step="0.1" class="form-control">
                                    </div>
                                    <span asp-validation-for="ErrorBarWidth" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="tab-pane" id="three">

                <div class="row">
                    <div class="col-md-6">
                        <div class="panel panel-default" style="margin:10px">
                            <div class="panel-heading"><h3>Overall Parameters</h3></div>

                            <div class="panel-body">
                                <div class="form-group">
                                    <label asp-for="TitleSize" class="control-label col-xs-4">Title font size</label>
                                    <div class="col-xs-8">
                                        <input asp-for="TitleSize" type="number" class="form-control">
                                    </div>
                                    <span asp-validation-for="TitleSize" class="text-danger"></span>
                                </div>

                                <div class="form-group">
                                    <label asp-for="XAxisTitleFontSize" class="control-label col-xs-4">X-axis title font size</label>
                                    <div class="col-xs-8">
                                        <input asp-for="XAxisTitleFontSize" type="number" class="form-control">
                                    </div>
                                    <span asp-validation-for="XAxisTitleFontSize" class="text-danger"></span>
                                </div>

                                <div class="form-group">
                                    <label asp-for="YAxisTitleFontSize" class="control-label col-xs-4">Y-axis title font size</label>
                                    <div class="col-xs-8">
                                        <input asp-for="YAxisTitleFontSize" type="number" class="form-control">
                                    </div>
                                    <span asp-validation-for="YAxisTitleFontSize" class="text-danger"></span>
                                </div>

                                <div class="form-group">
                                    <label asp-for="GraphicsFont" class="control-label col-xs-4">Font</label>
                                    <div class="col-xs-8">
                                        <select asp-for="GraphicsFont" type="text" class="form-control">
                                            <option value="Helvetica">Helvetica</option>
                                            <option value="Times">Times</option>
                                            <option value="Courier">Courier</option>
                                        </select>
                                    </div>
                                    <span asp-validation-for="GraphicsFont" class="text-danger"></span>
                                </div>

                                <div class="form-group">
                                    <label asp-for="FontStyle" class="control-label col-xs-4">Font style</label>
                                    <div class="col-xs-8">
                                        <select asp-for="FontStyle" type="text" class="form-control">
                                            <option value="Plain">Plain</option>
                                            <option value="Italic">Italic</option>
                                            <option value="Bold">Bold</option>
                                            <option value="Bold Italic">Bold Italic</option>
                                        </select>
                                    </div>
                                    <span asp-validation-for="FontStyle" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="GraphicsTextColour" class="control-label col-xs-4">Font colour</label>
                                    <div class="col-xs-8">
                                        <input asp-for="GraphicsTextColour" type="text" class="form-control">
                                    </div>
                                    <span asp-validation-for="GraphicsTextColour" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="panel panel-default" style="margin:10px">
                            <div class="panel-heading"><h3>Legend Parameters</h3></div>

                            <div class="panel-body">
                                <div class="form-group">
                                    <label asp-for="LegendTextColour" class="control-label col-xs-4">Title text colour</label>
                                    <div class="col-xs-8">
                                        <input asp-for="LegendTextColour" type="text" class="form-control">
                                    </div>
                                    <span asp-validation-for="LegendTextColour" class="text-danger"></span>
                                </div>

                                <div class="form-group">
                                    <label asp-for="LegendTextSize" class="control-label col-xs-4">Legend text size</label>
                                    <div class="col-xs-8">
                                        <input asp-for="LegendTextSize" type="number" class="form-control">
                                    </div>
                                    <span asp-validation-for="LegendTextSize" class="text-danger"></span>
                                </div>

                                <div class="form-group">
                                    <label asp-for="LegendPosition" class="control-label col-xs-4">Position</label>
                                    <div class="col-xs-8">
                                        <select asp-for="LegendPosition" type="text" class="form-control">
                                            <option value="default">Default</option>
                                            <option value="right">Right</option>
                                            <option value="left">Left</option>
                                            <option value="top">Top</option>
                                            <option value="bottom">Bottom</option>
                                        </select>
                                    </div>
                                    <span asp-validation-for="LegendPosition" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">

                    <div class="col-md-6">
                        <div class="panel panel-default" style="margin:10px">
                            <div class="panel-heading"><h3>X-axis Label Parameters</h3></div>

                            <div class="panel-body">
                                <div class="form-group">
                                    <label asp-for="XLabelsFontSize" class="control-label col-xs-4">Labels font size</label>
                                    <div class="col-xs-8">
                                        <input asp-for="XLabelsFontSize" type="number" class="form-control">
                                    </div>
                                    <span asp-validation-for="XLabelsFontSize" class="text-danger"></span>
                                </div>

                                <div class="form-group">
                                    <label asp-for="GraphicsXAngle" class="control-label col-xs-4">Legend angle</label>
                                    <div class="col-xs-8">
                                        <input asp-for="GraphicsXAngle" type="number" class="form-control">
                                    </div>
                                    <span asp-validation-for="GraphicsXAngle" class="text-danger"></span>
                                </div>

                                <div class="form-group">
                                    <label asp-for="GraphicsXHorizontalJust" class="control-label col-xs-4">Horizontal adjustment</label>
                                    <div class="col-xs-8">
                                        <input asp-for="GraphicsXHorizontalJust" type="number" step="0.1" class="form-control">
                                    </div>
                                    <span asp-validation-for="GraphicsXHorizontalJust" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="panel panel-default" style="margin:10px">
                            <div class="panel-heading"><h3>Y-axis Label Parameters</h3></div>

                            <div class="panel-body">
                                <div class="form-group">
                                    <label asp-for="YLabelsFontSize" class="control-label col-xs-4">Labels font size</label>
                                    <div class="col-xs-8">
                                        <input asp-for="YLabelsFontSize" type="number" class="form-control">
                                    </div>
                                    <span asp-validation-for="YLabelsFontSize" class="text-danger"></span>
                                </div>

                                <div class="form-group">
                                    <label asp-for="GraphicsYAngle" class="control-label col-xs-4">Legend angle</label>
                                    <div class="col-xs-8">
                                        <input asp-for="GraphicsYAngle" type="number" class="form-control">
                                    </div>
                                    <span asp-validation-for="GraphicsYAngle" class="text-danger"></span>
                                </div>

                                <div class="form-group">
                                    <label asp-for="GraphicsYVerticalJust" class="control-label col-xs-4">Vertical adjustment</label>
                                    <div class="col-xs-8">
                                        <input asp-for="GraphicsYVerticalJust" type="number" step="0.1" class="form-control">
                                    </div>
                                    <span asp-validation-for="GraphicsYVerticalJust" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="tab-pane" id="four">

                <div class="row">
                    <div class="col-md-6">
                        <div class="panel panel-default" style="margin:10px">
                            <div class="panel-heading"><h3>Plot Output Options</h3></div>

                            <div class="panel-body">
                                <div class="form-group">
                                    <label asp-for="OutputPlotsInBW" class="control-label col-xs-4">Black &amp; white format</label>
                                    <div class="col-xs-8">
                                        <input asp-for="OutputPlotsInBW" class="checkbox" type="checkbox">
                                    </div>
                                    <span asp-validation-for="OutputPlotsInBW" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="panel panel-default" style="margin:10px">
                            <div class="panel-heading"><h3>Overall Colour Options</h3></div>

                            <div class="panel-body">
                                <div class="panel-body">
                                    <div class="form-group">
                                        <label asp-for="ColourFill" class="control-label col-xs-4">Fill (colour)</label>
                                        <div class="col-xs-8">
                                            <input asp-for="ColourFill" type="text" class="form-control">
                                        </div>
                                        <span asp-validation-for="ColourFill" class="text-danger"></span>
                                    </div>

                                    <div class="form-group">
                                        <label asp-for="BWFill" class="control-label col-xs-4">Fill (black &amp; white)</label>
                                        <div class="col-xs-8">
                                            <input asp-for="BWFill" type="text" class="form-control">
                                        </div>
                                        <span asp-validation-for="BWFill" class="text-danger"></span>
                                    </div>

                                    <div class="form-group">
                                        <label asp-for="ColourLine" class="control-label col-xs-4">Line (colour)</label>
                                        <div class="col-xs-8">
                                            <input asp-for="ColourLine" type="text" class="form-control">
                                        </div>
                                        <span asp-validation-for="ColourLine" class="text-danger"></span>
                                    </div>
                                    <div class="form-group">
                                        <label asp-for="BWLine" class="control-label col-xs-4">Line (black &amp; white)</label>
                                        <div class="col-xs-8">
                                            <input asp-for="BWLine" type="text" class="form-control">
                                        </div>
                                        <span asp-validation-for="BWLine" class="text-danger"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6">
                        <div class="panel panel-default" style="margin:10px">
                            <div class="panel-heading"><h3>Categorised Plot Colours</h3></div>

                            <div class="panel-body">
                                <div class="form-group">
                                    <label asp-for="GraphicsBWLow" class="control-label col-xs-4">Black &amp; white palette range minimum</label>
                                    <div class="col-xs-8">
                                        <input asp-for="GraphicsBWLow" type="number" step="0.1" class="form-control">
                                    </div>
                                    <span asp-validation-for="GraphicsBWLow" class="text-danger"></span>
                                </div>

                                <div class="form-group">
                                    <label asp-for="GraphicsBWHigh" class="control-label col-xs-4">Black &amp; white palette range maximum</label>
                                    <div class="col-xs-8">
                                        <input asp-for="GraphicsBWHigh" type="number" step="0.1" class="form-control">
                                    </div>
                                    <span asp-validation-for="GraphicsBWHigh" class="text-danger"></span>
                                </div>

                                <div class="form-group">
                                    <label asp-for="PaletteSet" class="control-label col-xs-4">Palette (colour)</label>
                                    <div class="col-xs-8">
                                        <input asp-for="PaletteSet" type="text" class="form-control">
                                    </div>
                                    <span asp-validation-for="PaletteSet" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="CategoryBarFill" class="control-label col-xs-4">Header bar</label>
                                    <div class="col-xs-8">
                                        <input asp-for="CategoryBarFill" type="text" class="form-control">
                                    </div>
                                    <span asp-validation-for="CategoryBarFill" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="text-right" style="padding:20px">
            <button type="submit" class="btn btn-secondary" name="submitButtonValue" value="reset">Reset to Default</button>
            <button type="submit" class="btn btn-primary" name="submitButtonValue" value="save">Save Options</button>
        </div>
    </fieldset>
</form>