﻿@section Scripts {
    <environment names="Development">
        <script defer src="~/js/openLinks.js"></script>
    </environment>
    <environment names="Production">
        <script defer src="~/js/openLinks.min.js"></script>
    </environment>
}

@{
    ViewBag.Title = "Introduction to " + Program.AppName;
}

@if (ViewBag.ErrorMessage != null)
{
    <div class="alert alert-danger">
        <strong>Error!</strong>
        <br />
        <p>@ViewBag.ErrorMessage</p>
    </div>
}


@if (Program.AppName == "InVivoStat")
{
    <div class="row m-4">
        <div class="col-md-6">
            <div class="card">
                <div class="card-body">
                    <div class="m-3">
                        <img src="~/images/InVivoStatLogo.png" class="img-fluid" />
                    </div>

                    <p class="card-text text-block">
                        InVivoStat is a powerful, free to use, statistical software package which uses <a href="#" onclick="openItem('https://www.r-project.org')">R</a>
                        as its statistics engine. It is designed specifically for scientists conducting animal experiments. The package combines complex and powerful statistical tools
                        (within R) with a user interface that is both easy to use and intuitive to the non-statistician.
                    </p>
                    <div class="m-3">
                        <a href="#" onclick="openItem('IVS startup wizard.pdf')" class="btn btn-lg btn-info">Startup Wizard</a>
                    </div>
                    <div class="m-3">
                        <a href="#" onclick="openItem('Getting started.pdf')" class="btn btn-lg btn-info">Getting Started User Guide</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Winner of the 2018 RSS and PSI Statistical Excellence in the Pharmaceutical Industry</h5>
                    <div class="card-text text-block">
                        <div class="text-center mt-2 mb-2">
                            <img src="~/images/Award.png" class="img-fluid" />
                        </div>
                        <div><i>Improving the quality and reliability of animal research through the use of InVivoStat: a statistical software package for animal researchers.</i></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row m-3">
        <div class="col-md-6">
            <div style="padding-left:45px;padding-right:45px">
                <img src="~/images/BookCover.png" class="img-fluid" />
            </div>
        </div>
        <div class="col-md-6">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">The Design and Statistical Analysis of Animal Experiments</h5>
                    <h6 class="card-subtitle mt-1 mb-1 text-muted">Bate and Clark (2014)</h6>
                    <div class="card-text text-block">
                        <p>For more detailed descriptions of the analyses performed by InVivoStat, check out <a href="#" onclick="openItem('https://www.cambridge.org/gb/academic/subjects/life-sciences/quantitative-biology-biostatistics-and-mathematical-modellin/design-and-statistical-analysis-animal-experiments?format=HB&isbn=9781107030787')">The Design and Statistical Analysis of Animal Experiments</a>. Written for animal researchers, and the first to feature InVivoStat, it provides a comprehensive guide to designing and analysing animal experiments.</p>
                        <p>It has long been recognised that the proper implementation of sound statistical techniques helps reduce the number of animals needed. By using real-life examples to make them more accessible, this book explains the statistical tools that should be employed by researchers. A wide range of design types are considered, including block, factorial, nested, cross-over, dose-escalation and repeated measures and techniques are introduced to analyse the experimental data generated. Each analysis technique is described in non-mathematical terms, helping readers without a statistical background understand key techniques such as t-tests, ANOVA, repeated measures, analysis of covariance, multiple comparison tests, non-parametric and survival analysis. Taken together, this text and InVivoStat will help you make the most of your experiments.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
else
{
    <h2>@ViewBag.Title</h2>

    <div class="row m-4">
        <div class="col-md-6">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">About @Program.AppName</h5>
                    <div class="text-block">
                        <p>
                            @Program.AppName is a powerful, free to use, statistical software package which uses <a href="#" onclick="openItem('http://www.r-project.org')">R</a> as its statistics engine. The package combines complex and powerful statistical tools(within R) with a user interface that is both easy to use and intuitive to the non-statistician.
                        </p>
                        <p>
                            While no package can comment on the suitability of a statistical analysis, @Program.AppName
                            has many dataset checks so errors within the data, that may invalidate the results
                            of the analysis, are identified prior to analysis.
                        </p>
                    </div>
                    <div class="text-block">
                        The authors of @Program.AppName have between them over 20 years of experience supporting scientists in the pharmaceutical industry and academia.
                        They have been involved in developing in-house software solutions and training scientists in using the software.
                    </div>

                    <div class="text-block">
                        For more information contact:<br>
                        <a href="mailto:robalexclark@hotmail.com">robalexclark@hotmail.com</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <img src="~/images/SilveRScreenshot.png" class="img-fluid" />
        </div>
    </div>
}