@model SilveR.ViewModels.Sheet

@section Scripts {

    <script>
        var spreadsheet = @Html.Raw(Json.Serialize(Model));
    </script>

    <environment names="Development">
        <script src="~/js/data/viewDataTable.js"></script>
    </environment>
    <environment names="Production">
        <script src="~/js/data/viewDataTable.min.js"></script>
    </environment>
}

@{
    ViewBag.Title = "View Data";
}

<h2>@ViewBag.TableName</h2>

@if (ViewBag.ErrorMessage != null)
{
    <div class="alert alert-dismissible alert-danger">
        <button class="close" type="button" data-dismiss="alert">×</button>
        <strong>Error</strong> @ViewBag.ErrorMessage
    </div>
}

<div id="example">
    <div class="box wide">
        <div class="box-col">
            <button class="k-button btn-success" id="save">Save changes</button>
            <button class="k-button btn-default" id="cancel">Cancel changes</button>
        </div>
    </div>
    <br />

    <div id="spreadsheet"></div>
</div>