﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - @Program.AppName</title>

    <link href="~/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/lib/kendo-ui/styles/kendo.common.min.css" rel="stylesheet" type="text/css" />
    <link href="~/lib/kendo-ui/styles/kendo.bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="~/css/site.css" rel="stylesheet" type="text/css" />

    <link rel="stylesheet" href="~/lib/font-awesome/css/font-awesome.css" />

    <!-- Insert this line above script imports  -->
    <script>if (typeof module === 'object') { window.module = module; module = undefined; }</script>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/js/bootstrap.min.js"></script>
    <script src="~/lib/kendo-ui/js/kendo.custom.min.js"></script>

    <environment names="Development">
        <script defer src="~/js/index.js"></script>
    </environment>
    <environment names="Production">
        <script defer src="~/js/index.min.js"></script>
    </environment>

    @RenderSection("scripts", required: false)
</head>
<body>
    <noscript>
        <div class="noscript-warning">
            This site will not function correctly with JavaScript disabled. Please re-enable JavaScript in your browser and try again.
            To enable Javascript follow this link http://enable-javascript.com/.
        </div>
    </noscript>
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-light fixed-top">
        <div class="container">
            <a class="navbar-brand" asp-controller="Home" asp-action="Index">@Program.AppName</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                <ul class="navbar-nav flex-grow-1">
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-controller="Data" asp-action="Index">My Data</a>
                    </li>

                    <li class="nav-item dropdown">
                        <a class="nav-link text-dark dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" href="#">Statistics</a>

                        <ul class="nav-item dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <li><a class="dropdown-item" asp-controller="Analyses" asp-action="AnalysisDataSelector" asp-route-analysisName="SummaryStatistics">Summary Statistics</a></li>

                            <li class="dropdown-submenu">
                                <a class="dropdown-item dropdown-toggle" data-toggle="dropdown" href="#">Parametric Analysis</a>
                                <ul class="dropdown-menu">
                                    <li><a class="dropdown-item" asp-controller="Analyses" asp-action="AnalysisDataSelector" asp-route-analysisName="SingleMeasuresParametricAnalysis">Single Measures Parametric Analysis</a></li>
                                    <li><a class="dropdown-item" asp-controller="Analyses" asp-action="AnalysisDataSelector" asp-route-analysisName="RepeatedMeasuresParametricAnalysis">Repeated Measures Parametric Analysis</a></li>

                                    <li class="dropdown-submenu">
                                        <a class="dropdown-item dropdown-toggle" data-toggle="dropdown" href="#">P-value Adjustment</a>
                                        <ul class="dropdown-menu">
                                            <li><a class="dropdown-item" asp-controller="Analyses" asp-action="AnalysisDataSelector" asp-route-analysisName="PValueAdjustmentUserBasedInputs">User Based Inputs</a></li>
                                            <li><a class="dropdown-item" asp-controller="Analyses" asp-action="AnalysisDataSelector" asp-route-analysisName="PValueAdjustmentDatasetBasedInputs">Dataset Based Inputs</a></li>
                                        </ul>
                                    </li>

                                    <li><a class="dropdown-item" asp-controller="Analyses" asp-action="AnalysisDataSelector" asp-route-analysisName="PairedTTestAnalysis">Paired t-test Analysis and Within-subject Analysis</a></li>
                                    <li><a class="dropdown-item" asp-controller="Analyses" asp-action="AnalysisDataSelector" asp-route-analysisName="UnpairedTTestAnalysis">Unpaired t-test Analysis</a></li>
                                    <li><a class="dropdown-item" asp-controller="Analyses" asp-action="AnalysisDataSelector" asp-route-analysisName="CorrelationAnalysis">Correlation Analysis</a></li>
                                    <li><a class="dropdown-item" asp-controller="Analyses" asp-action="AnalysisDataSelector" asp-route-analysisName="LinearRegressionAnalysis">Linear Regression Analysis</a></li>
                                    <li><a class="dropdown-item" asp-controller="Analyses" asp-action="AnalysisDataSelector" asp-route-analysisName="DoseResponseAndNonLinearRegressionAnalysis">Dose-response and Non-linear Regression Analysis</a></li>
                                    <li><a class="dropdown-item" asp-controller="Analyses" asp-action="AnalysisDataSelector" asp-route-analysisName="OneSampleTTestAnalysis">One-sample t-test Analysis</a></li>
                                </ul>
                            </li>

                            <li class="dropdown-submenu">
                                <a class="dropdown-item dropdown-toggle" data-toggle="dropdown" href="#">Additional Analysis</a>
                                <ul class="dropdown-menu">
                                    <li><a class="dropdown-item" asp-controller="Analyses" asp-action="AnalysisDataSelector" asp-route-analysisName="NonParametricAnalysis">Non-parametric Analysis</a></li>
                                    <li><a class="dropdown-item" asp-controller="Analyses" asp-action="AnalysisDataSelector" asp-route-analysisName="ChiSquaredAndFishersExactTest">Chi-squared and Fisher's Exact Test</a></li>
                                    <li><a class="dropdown-item" asp-controller="Analyses" asp-action="AnalysisDataSelector" asp-route-analysisName="SurvivalAnalysis">Survival Analysis</a></li>
                                    <li><a class="dropdown-item" asp-controller="Analyses" asp-action="AnalysisDataSelector" asp-route-analysisName="MultivariateAnalysis">Multivariate Analysis</a></li>
                                </ul>
                            </li>

                            <li><a class="dropdown-item" asp-controller="Analyses" asp-action="AnalysisDataSelector" asp-route-analysisName="GraphicalAnalysis">Graphical Analysis</a></li>

                            <li class="dropdown-submenu">
                                <a class="dropdown-item dropdown-toggle" data-toggle="dropdown" href="#">Power Analysis</a>
                                <ul class="dropdown-menu">
                                    <li class="dropdown-submenu">
                                        <a class="dropdown-item dropdown-toggle" data-toggle="dropdown" href="#">Comparison of Means</a>
                                        <ul class="dropdown-menu">
                                            <li><a class="dropdown-item" asp-controller="Analyses" asp-action="AnalysisDataSelector" asp-route-analysisName="ComparisonOfMeansPowerAnalysisUserBasedInputs">User based inputs</a></li>
                                            <li><a class="dropdown-item" asp-controller="Analyses" asp-action="AnalysisDataSelector" asp-route-analysisName="ComparisonOfMeansPowerAnalysisDatasetBasedInputs">Dataset based inputs</a></li>
                                        </ul>
                                    </li>
                                    <li class="dropdown-submenu">
                                        <a class="dropdown-item dropdown-toggle" data-toggle="dropdown" href="#">One-way ANOVA</a>
                                        <ul class="dropdown-menu">
                                            <li><a class="dropdown-item" asp-controller="Analyses" asp-action="AnalysisDataSelector" asp-route-analysisName="OneWayANOVAPowerAnalysisUserBasedInputs">User based inputs</a></li>
                                            <li><a class="dropdown-item" asp-controller="Analyses" asp-action="AnalysisDataSelector" asp-route-analysisName="OneWayANOVAPowerAnalysisDatasetBasedInputs">Dataset based inputs</a></li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>

                            <li class="dropdown-submenu">
                                <a class="dropdown-item dropdown-toggle" data-toggle="dropdown" href="#">Unvalidated Analysis</a>
                                <ul class="dropdown-menu">
                                    <li><a class="dropdown-item" asp-controller="Analyses" asp-action="AnalysisDataSelector" asp-route-analysisName="NestedDesignAnalysis">Nested Design Analysis</a></li>
                                    <li><a class="dropdown-item" asp-controller="Analyses" asp-action="AnalysisDataSelector" asp-route-analysisName="IncompleteFactorialParametricAnalysis">Incomplete Factorial Parametric Analysis</a></li>
                                </ul>
                            </li>
                        </ul>

                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-controller="Analyses" asp-action="Index">My Analyses</a>
                    </li>
                </ul>
            </div>

            <div class="collapse navbar-collapse justify-content-end" id="navbarCollapse">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-controller="UserOptions" asp-action="Index"><i class="fa fa-lg fa-gears"></i></a>
                    <li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="container body-content" style="margin-top:70px">
        @RenderBody()
    </div>
</body>
</html>