@if (ViewContext.ViewData.ModelState.IsValid == false)
{
    <div class="alert alert-danger">
        <strong>Error!</strong>
        <br />
        @Html.ValidationSummary(false)
    </div>
}
else if (ViewBag.WarningMessages != null)
{
    <div class="alert alert-warning">
        <strong>Warning!</strong>
        <br />
        @foreach (string warningMessage in ViewBag.WarningMessages)
        {
            <p>@warningMessage</p>
        }
        <br />
        <button class="btn btn-warning" name="ignoreWarnings" type="submit" value="true">Submit Anyway</button>
    </div>
}