@if (ViewContext.ViewData.ModelState.IsValid == false)
{
    <div class="alert alert-danger alert-dismissable fade show">
        <button class="close" data-dismiss="alert" type="button"><span>&times;</span></button>
        <strong>Error!</strong>
        <br />
        <div id="errorsList">@Html.ValidationSummary(false)</div>
    </div>
}
else if (ViewBag.WarningMessages != null)
{
    <div class="alert alert-warning alert-dismissable fade show">
        <button class="close" data-dismiss="alert" type="button"><span>&times;</span></button>
        <strong>Warning!</strong>
        <br />
        <div id="warningsList">
            @foreach (string warningMessage in ViewBag.WarningMessages)
            {
                <p>@warningMessage</p>
            }
        </div>
        <br />
        <button class="btn btn-warning" name="ignoreWarnings" type="submit" value="true">Submit Anyway</button>
    </div>
}