@model SilveR.ViewModels.AnalysisDataSelectorViewModel

@section Scripts {
    <script>
        var scriptsList = @Html.Raw(Json.Serialize(Model.Scripts));
        var datasets = @Html.Raw(Json.Serialize(Model.Datasets));
        var selectedAnalysisName = @Html.Raw(Json.Serialize(Model.AnalysisName));
    </script>

    <environment names="Development">
        <script defer src="~/js/analysis/analysisDataSelector.js"></script>
    </environment>
    <environment names="Production">
        <script defer src="~/js/analysis/analysisDataSelector.min.js"></script>
    </environment>
}

@{
    ViewBag.Title = "Select the Analysis and Data";
}

@if (ViewBag.HasDatasets == true)
{
    <form method="post" action="~/Analyses/AnalysisDataSelector">

        @if (Model.AnalysisName == null)
        {
            <div id="analysisSelectionBlock" class="mt-4">
                <h4>Select the type of analysis to run</h4>
                <input asp-for="AnalysisName" style="width:340px" />
            </div>
        }
        else
        {
            <div class="mt-4">
                <h3>@Model.AnalysisDisplayName</h3>
                <input asp-for="AnalysisName" type="hidden" />
            </div>
        }

        <div id="dataSelectionBlock" class="mt-3">
            <h4>Select the file to analyse</h4>
            <input asp-for="SelectedDatasetID" style="width:340px" />
        </div>

        <div class="mt-3">
            <button class="btn btn-primary btn-lg" type="submit">Submit <i class="fa fa-caret-right"></i></button>
        </div>
    </form>
}
else
{
    <div class="alert alert-dismissible alert-danger">
        <button class="close" type="button" data-dismiss="alert">×</button>
        <p>You have not uploaded any data. You need to <a class="alert-link" href="~/Data/DataUploader">upload some data</a> before you can run an analysis.</p>
    </div>
}