@model SilveR.StatsModels.ComparisonOfMeansPowerAnalysisDatasetBasedInputsModel

@section Scripts {
    <script>
        var theModel = @Html.Raw(Json.Serialize(Model));
    </script>

    <environment names="Development">
        <script src="~/js/stats/comparisonOfMeansPowerAnalysisDatasetBasedInputs.js"></script>
    </environment>
    <environment names="Production">
        <script src="~/js/stats/comparisonOfMeansPowerAnalysisDatasetBasedInputs.min.js"></script>
    </environment>
}

@{
    ViewBag.Title = "'Comparison of Means' Power Analysis (Dataset Based Inputs)";
}

<h2>@ViewBag.Title</h2>

<form action="/Analyses/ComparisonOfMeansPowerAnalysisDatasetBasedInputs" class="form-horizontal" method="post">

    @await Html.PartialAsync("AnalysisErrors")

    <input asp-for="DatasetID" hidden />

    <div class="row">
        <div class="col-sm-6">

            <div class="panel panel-default">
                <div class="panel-heading">Input Options</div>
                <div class="panel-body">

                    <div class="form-group">
                        <label class="col-sm-4 control-label">Response</label>
                        <div class="col-sm-8">
                            <input class="form-control" asp-for="Response" />
                            <div><span asp-validation-for="Response"></span></div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-4 control-label">Treatment factor</label>
                        <div class="col-sm-8">
                            <input class="form-control" asp-for="Treatment" />
                            <div><span asp-validation-for="Treatment"></span></div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-4 control-label">Control group</label>
                        <div class="col-sm-8">
                            <input class="form-control" asp-for="ControlGroup" />
                            <div><span asp-validation-for="ControlGroup"></span></div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-4 control-label">Significance level</label>
                        <div class="col-sm-8">
                            <input class="form-control" asp-for="Significance" />
                            <div><span asp-validation-for="Significance"></span></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-sm-6">

            <div class="panel panel-default">
                <div class="panel-heading">Output Options</div>
                <div class="panel-body">

                    <h4>Change Type</h4>
                    <div class="col-sm-12">
                        <div class="form-group">
                            <div class="radio">
                                <label>
                                    <input asp-for="ChangeType" type="radio" value="Percent" onclick="enableDisableChangeType()" />
                                    <label>Use Percent Change</label>
                                </label>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-4 control-label">Percent changes</label>
                            <div class="col-sm-8">
                                <input class="form-control" asp-for="PercentChange" />
                                <div><span asp-validation-for="PercentChange"></span></div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="radio">
                                <label>
                                    <input asp-for="ChangeType" type="radio" value="Absolute" onclick="enableDisableChangeType()" />
                                    <label>Use Absolute Change</label>
                                </label>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-4 control-label">Absolute changes</label>
                            <div class="col-sm-8">
                                <input class="form-control" asp-for="AbsoluteChange" />
                                <div><span asp-validation-for="AbsoluteChange"></span></div>
                            </div>
                        </div>

                    <br />
                    <h4>Plotting range</h4>
                        <div class="form-group">
                            <div class="radio">
                                <label>
                                    <input asp-for="PlottingRangeType" type="radio" value="SampleSize" onclick="enableDisablePlottingRangeType()" />
                                    <label>Use Sample Size</label>
                                </label>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-4 control-label">Sample size from</label>
                            <div class="col-sm-8">
                                <input class="form-control" asp-for="SampleSizeFrom" />
                                <div><span asp-validation-for="SampleSizeFrom"></span></div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-4 control-label" for="SampleSizeTo">Sample size to</label>
                            <div class="col-sm-8">
                                <input class="form-control" asp-for="SampleSizeTo" />
                                <div><span asp-validation-for="SampleSizeTo"></span></div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="radio">
                                <label>
                                    <input asp-for="PlottingRangeType" type="radio" value="Power" onclick="enableDisablePlottingRangeType()" />
                                    <label>Use Power</label>
                                </label>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-4 control-label">Power from</label>
                            <div class="col-sm-8">
                                <input class="form-control" asp-for="PowerFrom" />
                                <div><span asp-validation-for="PowerFrom"></span></div>
                            </div>

                        </div>
                        <div class="form-group">
                            <label class="col-sm-4 control-label">Power to</label>
                            <div class="col-sm-8">
                                <input class="form-control" asp-for="PowerTo" />
                                <div><span asp-validation-for="PowerTo"></span></div>
                            </div>

                        </div>

                        <div class="form-group">
                            <label class="col-sm-4 control-label">Graph title</label>
                            <div class="col-sm-8">
                                <input class="form-control" asp-for="GraphTitle" />
                                <div><span asp-validation-for="GraphTitle"></span></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="row mt20">
        <div class="col-md-12">
            <button class="btn btn-primary btn-lg" type="submit">Submit</button>
        </div>
    </div>
</form>