﻿@model SilveR.StatsModels.CorrelationAnalysisModel

@section Scripts {
    <script>
        var theModel = @Html.Raw(Json.Serialize(Model));
    </script>

    <environment names="Development">
        <script defer src="~/js/stats/correlationAnalysis.js"></script>
        <script defer src="~/js/openLinks.js"></script>
    </environment>
    <environment names="Production">
        <script defer src="~/js/stats/correlationAnalysis.min.js"></script>
    </environment>
}

@{
    ViewBag.Title = "Correlation Analysis";
}

<div class="row">
    <div class="col-md-6">
        <h2>@ViewBag.Title</h2>
    </div>
    <div class="col-md-6">
        <a href="#" onclick="openItem('http://invivostat.co.uk/wp-content/user-guides-v4/Correlation_Analysis.pdf')" class="btn btn-info pull-right">Help</a>
    </div>
</div>

<form action="/Analyses/CorrelationAnalysis" class="form-horizontal mt-2" method="post">

    @await Html.PartialAsync("AnalysisErrors")

    <input asp-for="DatasetID" hidden />

    <div class="row">
        <div class="col-md-6">

            <div class="card">
                <div class="card-header">Input Options</div>
                <div class="card-body">
                    <h4>Responses</h4>
                    <div class="form-group row">
                        <label class="col-md-6 col-form-label">Responses</label>
                        <div class="col-md-6">
                            <select class="form-control" asp-for="Responses"></select>
                            <div><span asp-validation-for="Responses"></span></div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-md-6 col-form-label">Transformation</label>
                        <div class="col-md-6">
                            <input class="form-control" asp-for="Transformation" />
                            <div><span asp-validation-for="Transformation"></span></div>
                        </div>
                    </div>
                    <br />

                    <h4>Categorisation Factors</h4>
                    <div class="form-group row">
                        <label class="col-md-6 col-form-label">1st factor</label>
                        <div class="col-md-6">
                            <input class="form-control" asp-for="FirstCatFactor" />
                            <div><span asp-validation-for="FirstCatFactor"></span></div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-md-6 col-form-label">2nd factor</label>
                        <div class="col-md-6">
                            <input class="form-control" asp-for="SecondCatFactor" />
                            <div><span asp-validation-for="SecondCatFactor"></span></div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-md-6 col-form-label">3rd factor</label>
                        <div class="col-md-6">
                            <input class="form-control" asp-for="ThirdCatFactor" />
                            <div><span asp-validation-for="ThirdCatFactor"></span></div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-md-6 col-form-label">4th factor</label>
                        <div class="col-md-6">
                            <input class="form-control" asp-for="FourthCatFactor" />
                            <div><span asp-validation-for="FourthCatFactor"></span></div>
                        </div>
                    </div>
                    <br />

                    <h4>Methodology</h4>
                    <div class="form-group row">
                        <label class="col-md-6 col-form-label">Method</label>
                        <div class="col-md-6">
                            <input class="form-control" asp-for="Method" />
                            <div><span asp-validation-for="Method"></span></div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-md-6 col-form-label">Hypothesis</label>
                        <div class="col-md-6">
                            <input class="form-control" asp-for="Hypothesis" />
                            <span asp-validation-for="Hypothesis"></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-6">
            <div class="card">
                <div class="card-header">Output Options</div>
                <div class="card-body">
                    <h4>Overall Results</h4>
                    <div class="form-group row">
                        <label class="col-md-6 col-form-label">Estimate</label>
                        <div class="col-md-6">
                            <input class="checkbox-fix" asp-for="Estimate" type="checkbox" />
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-md-6 col-form-label">Test Statistic</label>
                        <div class="col-md-6">
                            <input class="checkbox-fix" asp-for="TestStatistic" type="checkbox" />
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-md-6 col-form-label">p-value</label>
                        <div class="col-md-6">
                            <input class="checkbox-fix" asp-for="PValue" type="checkbox" />
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-md-6 col-form-label">Scatterplot</label>
                        <div class="col-md-6">
                            <input class="checkbox-fix" asp-for="Scatterplot" type="checkbox" />
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-md-6 col-form-label">Matrixplot</label>
                        <div class="col-md-6">
                            <input class="checkbox-fix" asp-for="Matrixplot" type="checkbox" />
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-md-6 col-form-label">Significance level</label>
                        <div class="col-md-6">
                            <input asp-for="Significance" />
                            <div><span asp-validation-for="Significance"></span></div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-md-6 col-form-label">By categories and overall</label>
                        <div class="col-md-6">
                            <input class="checkbox-fix" asp-for="ByCategoriesAndOverall" type="checkbox" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row my-3">
        <div class="col-md-12 text-right">
            <button class="btn btn-primary btn-lg" type="submit">Submit <i class="fa fa-caret-right"></i></button>
        </div>
    </div>
</form>