﻿@model SilveR.StatsModels.LinearRegressionAnalysisModel

@section Scripts {
    <script>
        var theModel = @Html.Raw(Json.Serialize(Model));
    </script>

    <environment names="Development">
        <script defer src="~/js/stats/linearRegressionAnalysis.js"></script>
        <script defer src="~/js/openLinks.js"></script>
    </environment>
    <environment names="Production">
        <script defer src="~/js/stats/linearRegressionAnalysis.min.js"></script>
    </environment>
}

@{
    ViewBag.Title = "Linear Regression Analysis";
}

<div class="row">
    <div class="col-md-6">
        <h2>@ViewBag.Title</h2>
    </div>
    <div class="col-md-6">
        <a href="#" onclick="openItem('http://invivostat.co.uk/wp-content/user-guides-v4/Linear_Regression_Analysis.pdf')" class="btn btn-info pull-right">Help</a>
    </div>
</div>

<form action="/Analyses/LinearRegressionAnalysis" class="form-horizontal mt-2" method="post">

    @await Html.PartialAsync("AnalysisErrors")

    <input asp-for="DatasetID" hidden />
    <div class="row">
        <div class="col-md-6">

            <div class="card">
                <div class="card-header">Input Options</div>
                <div class="card-body">
                    <h4>Responses</h4>
                    <div class="form-group row">
                        <label class="col-md-6 col-form-label">Response</label>
                        <div class="col-md-6">
                            <input class="form-control" asp-for="Response" />
                            <div><span asp-validation-for="Response"></span></div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-md-6 col-form-label">Response transformation</label>
                        <div class="col-md-6">
                            <input class="form-control" asp-for="ResponseTransformation" />
                            <div><span asp-validation-for="ResponseTransformation"></span></div>
                        </div>
                    </div>
                    <br />

                    <h4>Factors</h4>
                    <div class="form-group row">
                        <label class="col-md-6 col-form-label">Continuous factors</label>
                        <div class="col-md-6">
                            <select class="form-control" asp-for="ContinuousFactors"></select>
                            <div><span asp-validation-for="ContinuousFactors"></span></div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-md-6 col-form-label">Continuous factors transformation</label>
                        <div class="col-md-6">
                            <input class="form-control" asp-for="ContinuousFactorsTransformation" />
                            <div><span asp-validation-for="ContinuousFactorsTransformation"></span></div>
                        </div>
                    </div>
                    <br />

                    <div class="form-group row">
                        <label class="col-md-6 col-form-label">Categorical factors</label>
                        <div class="col-md-6">
                            <select class="form-control" asp-for="CategoricalFactors"></select>
                            <div><span asp-validation-for="CategoricalFactors"></span></div>
                        </div>
                    </div>
                    <br />

                    <div class="form-group row">
                        <label class="col-md-6 col-form-label">Other design (block) factors</label>
                        <div class="col-md-6">
                            <select class="form-control" asp-for="OtherDesignFactors"></select>
                            <div><span asp-validation-for="OtherDesignFactors"></span></div>
                        </div>
                    </div>
                    <br />

                    <h4>Covariate</h4>
                    <div class="form-group row">
                        <label class="col-md-6 col-form-label">Covariates</label>
                        <div class="col-md-6">
                            <select class="form-control" asp-for="Covariates"></select>
                            <div><span asp-validation-for="Covariates"></span></div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-md-6 col-form-label">Primary factor</label>
                        <div class="col-md-6">
                            <input class="form-control" asp-for="PrimaryFactor" />
                            <div><span asp-validation-for="PrimaryFactor"></span></div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-md-6 col-form-label">Covariate transformation</label>
                        <div class="col-md-6">
                            <input class="form-control" asp-for="CovariateTransformation" />
                            <div><span asp-validation-for="CovariateTransformation"></span></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-6">
            <div class="card">
                <div class="card-header">Output Options</div>
                <div class="card-body">
                    <h4>Overall Results</h4>
                    <div class="form-group row">
                        <label class="col-md-6 col-form-label">ANOVA table</label>
                        <div class="col-md-6">
                            <input class="checkbox-fix" asp-for="ANOVASelected" type="checkbox" />
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-md-6 col-form-label">Coefficients</label>
                        <div class="col-md-6">
                            <input class="checkbox-fix" asp-for="Coefficients" type="checkbox" />
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-md-6 col-form-label">Adjusted R-squared</label>
                        <div class="col-md-6">
                            <input class="checkbox-fix" asp-for="AdjustedRSquared" type="checkbox" />
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-md-6 col-form-label">Significance level</label>
                        <div class="col-md-6">
                            <input asp-for="Significance" />
                            <div><span asp-validation-for="Significance"></span></div>
                        </div>
                    </div>
                    <br />

                    <h4>Diagnostic plots</h4>
                    <div class="form-group row">
                        <label class="col-md-6 col-form-label">Residuals vs predicted plot</label>
                        <div class="col-md-6">
                            <input class="checkbox-fix" asp-for="ResidualsVsPredictedPlot" type="checkbox" />
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-md-6 col-form-label">Normal probability plot</label>
                        <div class="col-md-6">
                            <input class="checkbox-fix" asp-for="NormalProbabilityPlot" type="checkbox" />
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-md-6 col-form-label">Cook's distance plot</label>
                        <div class="col-md-6">
                            <input class="checkbox-fix" asp-for="CooksDistancePlot" type="checkbox" />
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-md-6 col-form-label">Leverage plot</label>
                        <div class="col-md-6">
                            <input class="checkbox-fix" asp-for="LeveragePlot" type="checkbox" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row my-3">
        <div class="col-md-12 text-right">
            <button class="btn btn-primary btn-lg" type="submit">Submit <i class="fa fa-caret-right"></i></button>
        </div>
    </div>
</form>