@model SilveR.StatsModels.MultivariateAnalysisModel

@section Scripts {
    <script>
        var theModel = @Html.Raw(Json.Serialize(Model));
    </script>

    <environment names="Development">
        <script defer src="~/js/stats/multivariateAnalysis.js"></script>
        <script defer src="~/js/openLinks.js"></script>
    </environment>
    <environment names="Production">
        <script defer src="~/js/stats/multivariateAnalysis.min.js"></script>
    </environment>
}

@{
    ViewBag.Title = "Multivariate Analysis";
}

<div class="row">
    <div class="col-md-6">
        <h2>@ViewBag.Title</h2>
    </div>
    <div class="col-md-6">
        <a href="#" onclick="openItem('http://invivostat.co.uk/wp-content/user-guides-v4/Multivariate_Analysis.pdf')" class="btn btn-info pull-right">Help</a>
    </div>
</div>

<form action="/Analyses/MultivariateAnalysis" class="form-horizontal mt-2" method="post">

    @await Html.PartialAsync("AnalysisErrors")

    <input asp-for="DatasetID" hidden />

    <div class="row">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header">Input Options</div>
                <div class="card-body">
                    <h4>Response</h4>
                    <div class="form-group row">
                        <label class="col-md-6 col-form-label">Responses</label>
                        <div class="col-md-6">
                            <select class="form-control" asp-for="Responses"></select>
                            <div><span asp-validation-for="Responses"></span></div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-md-6 col-form-label">Response transformation</label>
                        <div class="col-md-6">
                            <input class="form-control" asp-for="ResponseTransformation" />
                            <div><span asp-validation-for="ResponseTransformation"></span></div>
                        </div>
                    </div>
                    <br />

                    <h4>Factors</h4>
                    <div class="form-group row">
                        <label class="col-md-6 col-form-label">Categorical predictor</label>
                        <div class="col-md-6">
                            <input class="form-control" asp-for="CategoricalPredictor" />
                            <div><span asp-validation-for="CategoricalPredictor"></span></div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-md-6 col-form-label">Case ID</label>
                        <div class="col-md-6">
                            <input class="form-control" asp-for="CaseID" />
                            <div><span asp-validation-for="CaseID"></span></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-6">
            <div class="card">
                <div class="card-header">Output Options</div>
                <div class="card-body">
                    <h4>Analysis Type</h4>
                    <div class="form-group row">
                        <label class="col-md-6 col-form-label">Analysis type</label>
                        <div class="col-md-6">
                            <div class="form-check mt-2">
                                <label class="form-check-label">
                                    <input asp-for="AnalysisType" type="radio" class="form-check-input" value="PrincipalComponentsAnalysis" onclick="analysisTypeChanged(this);">Principal Components Analysis (PCA)
                                </label>
                            </div>
                            <div class="form-check mt-2">
                                <label class="form-check-label">
                                    <input asp-for="AnalysisType" type="radio" class="form-check-input" value="ClusterAnalysis" onclick="analysisTypeChanged(this);">Cluster Analysis
                                </label>
                            </div>
                            <div class="form-check mt-2">
                                <label class="form-check-label">
                                    <input asp-for="AnalysisType" type="radio" class="form-check-input" value="LinearDiscriminantAnalysis" onclick="analysisTypeChanged(this);">Linear Discriminant Analysis (LDA)
                                </label>
                            </div>
                        </div>
                    </div>
                    <br />

                    <h4>PCA Options</h4>
                    <div class="form-group row">
                        <label class="col-md-6 col-form-label">Response centring</label>
                        <div class="col-md-6">
                            <input class="form-control" asp-for="ResponseCentring" />
                            <div><span asp-validation-for="ResponseCentring"></span></div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-md-6 col-form-label">Response scale</label>
                        <div class="col-md-6">
                            <input class="form-control" asp-for="ResponseScale" />
                            <div><span asp-validation-for="ResponseScale"></span></div>
                        </div>
                    </div>
                    <br />

                    <h4>Cluster Analysis Options</h4>
                    <div class="form-group row">
                        <label class="col-md-6 col-form-label">No. of clusters</label>
                        <div class="col-md-6">
                            <input asp-for="NoOfClusters" class="form-control">
                            <div><span asp-validation-for="NoOfClusters"></span></div>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label class="col-md-6 col-form-label">Standardise variables</label>
                        <div class="col-md-6">
                            <input asp-for="StandardiseVariables" type="checkbox" class="checkbox-fix">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-md-6 col-form-label">Distance method</label>
                        <div class="col-md-6">
                            <input class="form-control" asp-for="DistanceMethod" />
                            <div><span asp-validation-for="DistanceMethod"></span></div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-md-6 col-form-label">Agglomeration method</label>
                        <div class="col-md-6">
                            <input class="form-control" asp-for="AgglomerationMethod" />
                            <div><span asp-validation-for="AgglomerationMethod"></span></div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-md-6 col-form-label">Plot labels</label>
                        <div class="col-md-6">
                            <input class="form-control" asp-for="PlotLabel" />
                            <div><span asp-validation-for="PlotLabel"></span></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row my-3">
        <div class="col-md-12 text-right">
            <button class="btn btn-primary btn-lg" type="submit">Submit <i class="fa fa-caret-right"></i></button>
        </div>
    </div>
</form>