﻿@model SilveR.StatsModels.NonParametricAnalysisModel

@section Scripts {
    <script>
        var theModel = @Html.Raw(Json.Serialize(Model));
    </script>

    <environment names="Development">
        <script defer src="~/js/stats/nonParametricAnalysis.js"></script>
        <script defer src="~/js/openLinks.js"></script>
    </environment>
    <environment names="Production">
        <script defer src="~/js/stats/nonParametricAnalysis.min.js"></script>
    </environment>
}

@{
    ViewBag.Title = "Non-parametric Analysis";
}

<div class="row">
    <div class="col-md-6">
        <h2>@ViewBag.Title</h2>
    </div>
    <div class="col-md-6">
        <a href="#" onclick="openItem('http://invivostat.co.uk/wp-content/user-guides-v4/Nonparametric_Analysis.pdf')" class="btn btn-info pull-right">Help</a>
    </div>
</div>

<form action="/Analyses/NonParametricAnalysis" class="form-horizontal mt-2" method="post">

    @await Html.PartialAsync("AnalysisErrors")

    <input asp-for="DatasetID" hidden />

    <div class=" row">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header">Input Options</div>
                <div class="card-body">
                    <div class="form-group row">
                        <label class="col-md-6 col-form-label">Response</label>
                        <div class="col-md-6">
                            <input class="form-control" asp-for="Response" />
                            <div><span asp-validation-for="Response"></span></div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-md-6 col-form-label">Treatment factor</label>
                        <div class="col-md-6">
                            <input class="form-control" asp-for="Treatment" />
                            <div><span asp-validation-for="Treatment"></span></div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-md-6 col-form-label">Other design (block) factor</label>
                        <div class="col-md-6">
                            <input class="form-control" asp-for="OtherDesignFactor" />
                            <div><span asp-validation-for="OtherDesignFactor"></span></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-6">
            <div class="card">
                <div class="card-header">Output Options</div>
                <div class="card-body">
                    <div class="form-group row">
                        <label class="col-md-6 col-form-label">Analysis type</label>
                        <div class="col-md-6">
                            <div class="form-check">
                                <label class="form-check-label">
                                    <input asp-for="AnalysisType" type="radio" class="form-check-input" value="MannWhitney" onclick="enableDisableControlLevels()" checked="checked">Overall test (Kruskal-Wallis, Mann-Whitney or Friedman)
                                </label>
                            </div>
                            <div class="form-check mt-2">
                                <label class="form-check-label">
                                    <input asp-for="AnalysisType" type="radio" class="form-check-input" value="AllComparisons" onclick="enableDisableControlLevels()">All treatment comparisons
                                </label>
                            </div>
                            <div class="form-check mt-2">
                                <label class="form-check-label">
                                    <input asp-for="AnalysisType" type="radio" class="form-check-input" value="CompareToControl" onclick="enableDisableControlLevels()">Comparisons back to control
                                </label>
                            </div>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label class="col-md-6 col-form-label">Significance level</label>
                        <div class="col-md-6">
                            <input class="form-control" asp-for="Significance" />
                            <div><span asp-validation-for="Significance"></span></div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-md-6 col-form-label">Control</label>
                        <div class="col-md-6">
                            <input class="form-control" asp-for="Control" />
                            <div><span asp-validation-for="Control"></span></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row my-3">
        <div class="col-md-12 text-right">
            <button class="btn btn-primary btn-lg" type="submit">Submit <i class="fa fa-caret-right"></i></button>
        </div>
    </div>
</form>