@model SilveR.StatsModels.OneSampleTTestAnalysisModel

@section Scripts {

    <script>
        var theModel = @Html.Raw(Json.Serialize(Model));
    </script>

    <environment names="Development">
        <script defer src="~/js/stats/oneSampleTTestAnalysis.js"></script>
    </environment>
    <environment names="Production">
        <script defer src="~/js/stats/oneSampleTTestAnalysis.min.js"></script>
    </environment>
}

@{
    ViewBag.Title = "One-Sample t-test Analysis";
}

<div class="row">
    <div class="col-md-6">
        <h2>@ViewBag.Title</h2>
    </div>
    <div class="col-md-6">
        <a href="http://www.google.co.uk" class="btn btn-secondary pull-right" target="_blank">Help</a>
    </div>
</div>

<form action="/Analyses/OneSampleTTestAnalysis" class="form-horizontal mt-2" method="post">

    @await Html.PartialAsync("AnalysisErrors")

    <input asp-for="DatasetID" type="hidden" />

    <div class="row">
        <div class="col-md-6">

            <div class="card">
                <div class="card-header">Input Options</div>
                <div class="card-body">
                    <h4>Response</h4>
                    <div class="form-group row">
                        <label class="col-md-6 col-form-label">Response</label>
                        <div class="col-md-6">
                            <select class="form-control" asp-for="Responses"></select>
                            <div><span asp-validation-for="Responses"></span></div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-md-6 col-form-label">Reponse transformation</label>
                        <div class="col-md-6">
                            <input class="form-control" asp-for="ResponseTransformation" />
                            <div><span asp-validation-for="ResponseTransformation"></span></div>
                        </div>
                    </div>
                    <br />

                    <h4>Test value</h4>
                    <div class="form-group row">
                        <label class="col-md-6 col-form-label">Test value</label>
                        <div class="col-md-6">
                            <input class="form-control" asp-for="TestValue" />
                            <div><span asp-validation-for="TestValue"></span></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-6">
            <div class="card">
                <div class="card-header">Output Options</div>
                <div class="card-body">
                    <h4>Overall Results</h4>
                    <div class="form-group row">
                        <label class="col-md-6 control-label">Confidence interval</label>
                        <div class="col-md-6">
                            <input class="checkbox-fix" asp-for="ConfidenceInterval" type="checkbox" />
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-md-6 control-label">Normal probability plot</label>
                        <div class="col-md-6">
                            <input class="checkbox-fix" asp-for="NormalPlot" type="checkbox" />
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-md-6 control-label">Significance level</label>
                        <div class="col-md-6">
                            <input class="form-control" asp-for="Significance" />
                            <div><span asp-validation-for="Significance"></span></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row my-3">
        <div class="col-md-12 text-right">
            <button class="btn btn-primary btn-lg" type="submit">Submit <i class="fa fa-caret-right"></i></button>
        </div>
    </div>
</form>