﻿@model SilveR.StatsModels.PairedTTestAnalysisModel

@section Scripts {
    <script>
        var theModel = @Html.Raw(Json.Serialize(Model));
    </script>

    <environment names="Development">
        <script defer src="~/js/stats/pairedTTestAnalysis.js"></script>
        <script defer src="~/js/openLinks.js"></script>
    </environment>
    <environment names="Production">
        <script defer src="~/js/stats/pairedTTestAnalysis.min.js"></script>
    </environment>
}

@{
    ViewBag.Title = "Paired t-test Analysis and Within-subject Analysis";
}

<div class="row">
    <div class="col-md-6">
        <h2>@ViewBag.Title</h2>
    </div>
    <div class="col-md-6">
        <a href="#" onclick="openItem('http://invivostat.co.uk/wp-content/user-guides-v4/Paired_t-test_and_Within_Subject_Analysis.pdf')" class="btn btn-info pull-right">Help</a>
    </div>
</div>

<form action="/Analyses/PairedTTestAnalysis" class="form-horizontal mt-2" method="post">

    @await Html.PartialAsync("AnalysisErrors")

    <input asp-for="DatasetID" hidden />

    <div class="row">
        <div class="col-md-6">

            <div class="card">
                <div class="card-header">Input Options</div>
                <div class="card-body">
                    <h4>Response</h4>
                    <div class="form-group row">
                        <label class="col-md-6 col-form-label">Response</label>
                        <div class="col-md-6">
                            <input class="form-control" asp-for="Response" />
                            <div><span asp-validation-for="Response"></span></div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-md-6 col-form-label">Response transformation</label>
                        <div class="col-md-6">
                            <input class="form-control" asp-for="ResponseTransformation" />
                            <div><span asp-validation-for="ResponseTransformation"></span></div>
                        </div>
                    </div>
                    <br />

                    <h4>Factors</h4>
                    <div class="form-group row">
                        <label class="col-md-6 col-form-label">Treatment factor</label>
                        <div class="col-md-6">
                            <input class="form-control" asp-for="Treatment" />
                            <div><span asp-validation-for="Treatment"></span></div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-md-6 col-form-label">Subject factor</label>
                        <div class="col-md-6">
                            <input class="form-control" asp-for="Subject" />
                            <div><span asp-validation-for="Subject"></span></div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-md-6 col-form-label">Other design (block) factors</label>
                        <div class="col-md-6">
                            <select class="form-control" asp-for="OtherDesignFactors"></select>
                            <div><span asp-validation-for="OtherDesignFactors"></span></div>
                        </div>
                    </div>
                    <br />

                    <h4>Covariates</h4>
                    <div class="form-group row">
                        <label class="col-md-6 col-form-label">Covariates</label>
                        <div class="col-md-6">
                            <select class="form-control" asp-for="Covariates"></select>
                            <div><span asp-validation-for="Covariates"></span></div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-md-6 col-form-label">Covariate transformation</label>
                        <div class="col-md-6">
                            <input class="form-control" asp-for="CovariateTransformation" />
                            <div><span asp-validation-for="CovariateTransformation"></span></div>
                        </div>
                    </div>
                    <br />

                    <h4>Covariance Structure</h4>
                    <div class="form-group row">
                        <label class="col-md-6 control-label" for="Covariance">Covariance</label>
                        <div class="col-md-6">
                            <input class="form-control" asp-for="Covariance" />
                            <div><span asp-validation-for="Covariance"></span></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-6">
            <div class="card">
                <div class="card-header">Output Options</div>
                <div class="card-body">
                    <h4>Overall Results</h4>
                    <div class="form-group row">
                        <label class="col-md-6 col-form-label">Table of overall effect tests</label>
                        <div class="col-md-6">
                            <input class="checkbox-fix" asp-for="ANOVASelected" type="checkbox" />
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-md-6 col-form-label">Predicted vs. residuals plot</label>
                        <div class="col-md-6">
                            <input class="checkbox-fix" asp-for="PRPlotSelected" type="checkbox" />
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-md-6 col-form-label">Normal probability plot</label>
                        <div class="col-md-6">
                            <input class="checkbox-fix" asp-for="NormalPlotSelected" type="checkbox" />
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-md-6 col-form-label">Least square (predicted) means</label>
                        <div class="col-md-6">
                            <input class="checkbox-fix" asp-for="LSMeansSelected" type="checkbox" />
                        </div>
                    </div>
                    <br />

                    <h4>Post Hoc Tests</h4>
                    <div class="form-group row">
                        <label class="col-md-6 col-form-label">All pairwise comparisons</label>
                        <div class="col-md-6">
                            <input class="checkbox-fix" asp-for="AllPairwiseComparisons" type="checkbox" />
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-md-6 col-form-label">Control group</label>
                        <div class="col-md-6">
                            <input class="form-control" asp-for="ControlGroup" />
                        </div>
                        <span asp-validation-for="ControlGroup"></span>
                    </div>
                    <div class="form-group row">
                        <label class="col-md-6 col-form-label">Significance level</label>
                        <div class="col-md-6">
                            <input asp-for="Significance" />
                            <div><span asp-validation-for="Significance"></span></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row my-3">
        <div class="col-md-12 text-right">
            <button class="btn btn-primary btn-lg" type="submit">Submit <i class="fa fa-caret-right"></i></button>
        </div>
    </div>
</form>