@model SilveR.StatsModels.SummaryStatisticsModel

@section Scripts {
    <script>
        var theModel = @Html.Raw(Json.Serialize(Model));
    </script>

    <environment names="Development">
        <script defer src="~/js/stats/summaryStatistics.js"></script>
        <script defer src="~/js/openLinks.js"></script>
    </environment>
    <environment names="Production">
        <script defer src="~/js/stats/summaryStatistics.min.js"></script>
    </environment>
}

@{
    ViewBag.Title = "Summary Statistics";
}

<div class="row">
    <div class="col-md-6">
        <h2>@ViewBag.Title</h2>
    </div>
    <div class="col-md-6">
        <a href="#" onclick="openItem('http://invivostat.co.uk/wp-content/user-guides-v4/Summary_Statistics.pdf')" class="btn btn-info pull-right">Help</a>
    </div>
</div>

<form action="/Analyses/SummaryStatistics" class="form-horizontal mt-2" method="post">

    @await Html.PartialAsync("AnalysisErrors")

    <input asp-for="DatasetID" hidden />

    <div class="row">
        <div class="col-md-6">

            <div class="card">
                <div class="card-header">Input Options</div>
                <div class="card-body">
                    <h4>Responses</h4>
                    <div class="form-group row">
                        <label class="col-md-6 col-form-label">Responses</label>
                        <div class="col-md-6">
                            <select class="form-control" asp-for="Responses"></select>
                            <div><span asp-validation-for="Responses"></span></div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-md-6 col-form-label">Response transformation</label>
                        <div class="col-md-6">
                            <input class="form-control" asp-for="Transformation" />
                            <div><span asp-validation-for="Transformation"></span></div>
                        </div>
                    </div>
                    <br />

                    <h4>Categorisation Factors</h4>
                    <div class="form-group row">
                        <label class="col-md-6 col-form-label">1st factor</label>
                        <div class="col-md-6">
                            <input class="form-control" asp-for="FirstCatFactor" />
                            <div><span asp-validation-for="FirstCatFactor"></span></div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-md-6 col-form-label">2nd factor</label>
                        <div class="col-md-6">
                            <input class="form-control" asp-for="SecondCatFactor" />
                            <div><span asp-validation-for="SecondCatFactor"></span></div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-md-6 col-form-label">3rd factor</label>
                        <div class="col-md-6">
                            <input class="form-control" asp-for="ThirdCatFactor" />
                            <div><span asp-validation-for="ThirdCatFactor"></span></div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-md-6 col-form-label">4th factor</label>
                        <div class="col-md-6">
                            <input class="form-control" asp-for="FourthCatFactor" />
                            <div><span asp-validation-for="FourthCatFactor"></span></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-6">
            <div class="card">
                <div class="card-header">Output Options</div>
                <div class="card-body">

                    <div class="form-group row">
                        <label class="col-md-6 col-form-label">Mean</label>
                        <div class="col-md-6">
                            <input asp-for="Mean" type="checkbox" class="checkbox-fix" />
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-md-6 col-form-label">N</label>
                        <div class="col-md-6">
                            <input asp-for="N" type="checkbox" class="checkbox-fix" />
                        </div>
                    </div>
                    <br />

                    <div class="form-group row">
                        <label class="col-md-6 col-form-label">Variance</label>
                        <div class="col-md-6">
                            <input asp-for="Variance" type="checkbox" class="checkbox-fix" />
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-md-6 col-form-label">Standard deviation</label>
                        <div class="col-md-6">
                            <input asp-for="StandardDeviation" type="checkbox" class="checkbox-fix" />
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-md-6 col-form-label">Standard error of mean</label>
                        <div class="col-md-6">
                            <input asp-for="StandardErrorOfMean" type="checkbox" class="checkbox-fix" />
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-md-6 col-form-label">% coefficient of variation</label>
                        <div class="col-md-6">
                            <input asp-for="CoefficientOfVariation" type="checkbox" class="checkbox-fix" />
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-md-6 col-form-label">Confidence interval of the mean</label>
                        <div class="col-md-6">
                            <input asp-for="ConfidenceInterval" type="checkbox" class="checkbox-fix" />
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-md-6 col-form-label">Level (%)</label>
                        <div class="col-md-6">
                            <div class="input-group">
                                <input asp-for="Significance" class="form-control" />
                                <div><span asp-validation-for="Significance"></span></div>
                            </div>
                        </div>
                    </div>
                    <br />

                    <div class="form-group row">
                        <label class="col-md-6 col-form-label">Normal probability plot</label>
                        <div class="col-md-6">
                            <input asp-for="NormalProbabilityPlot" type="checkbox" class="checkbox-fix" />
                        </div>
                    </div>
                    <br />

                    <div class="form-group row">
                        <label class="col-md-6 col-form-label">Min and max</label>
                        <div class="col-md-6">
                            <input asp-for="MinAndMax" type="checkbox" class="checkbox-fix">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-md-6 col-form-label">Median and quartiles</label>
                        <div class="col-md-6">
                            <input asp-for="MedianAndQuartiles" type="checkbox" class="checkbox-fix" />
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-md-6 col-form-label">By categories and overall</label>
                        <div class="col-md-6">
                            <input asp-for="ByCategoriesAndOverall" type="checkbox" class="checkbox-fix" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row my-3">
        <div class="col-md-12 text-right">
            <button class="btn btn-primary btn-lg" type="submit">Submit <i class="fa fa-caret-right"></i></button>
        </div>
    </div>
</form>