@model SilveR.StatsModels.SurvivalAnalysisModel

@section Scripts {
    <script>
        var theModel = @Html.Raw(Json.Serialize(Model));
    </script>

    <environment names="Development">
        <script defer src="~/js/stats/survivalAnalysis.js"></script>
    </environment>
    <environment names="Production">
        <script defer src="~/js/stats/survivalAnalysis.min.js"></script>
    </environment>
}

@{
    ViewBag.Title = "Survival Analysis";
}

<h2>@ViewBag.Title</h2>

<form action="/Analyses/SurvivalAnalysis" class="form-horizontal mt-2" method="post">

    @await Html.PartialAsync("AnalysisErrors")

    <input asp-for="DatasetID" hidden />

    <div class="row">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header">Input Options</div>
                <div class="card-body">
                    <div class="form-group row">
                        <label class="col-md-6 col-form-label">Response</label>
                        <div class="col-md-6">
                            <input class="form-control" asp-for="Response" />
                            <div><span asp-validation-for="Response"></span></div>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label class="col-md-6 col-form-label">Treatment factor</label>
                        <div class="col-md-6">
                            <input class="form-control" asp-for="Treatment" />
                            <div><span asp-validation-for="Treatment"></span></div>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label class="col-md-6 col-form-label">Censorship variable</label>
                        <div class="col-md-6">
                            <input class="form-control" asp-for="Censorship" />
                            <div><span asp-validation-for="Censorship"></span></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-6">
            <div class="card">
                <div class="card-header">Output Options</div>
                <div class="card-body">
                    <div class="form-group row">
                        <label class="col-md-6 control-label">Summary results</label>
                        <div class="col-md-6">
                            <input class="checkbox-fix" asp-for="SummaryResults" type="checkbox" />
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-md-6 control-label">Survival plot</label>
                        <div class="col-md-6">
                            <input class="checkbox-fix" asp-for="SurvivalPlot" type="checkbox" />
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-md-6 control-label">Compare survival curves</label>
                        <div class="col-md-6">
                            <input class="checkbox-fix" asp-for="CompareSurvivalCurves" type="checkbox" />
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-md-6 control-label">Significance level</label>
                        <div class="col-md-6">
                            <input asp-for="Significance" />
                            <div><span asp-validation-for="Significance"></span></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row my-3">
        <div class="col-md-12 text-right">
            <button class="btn btn-primary btn-lg" type="submit">Submit <i class="fa fa-caret-right"></i></button>
        </div>
    </div>
</form>