@model SilveR.StatsModels.UnpairedTTestAnalysisModel

@section Scripts {
    <script>
        var theModel = @Html.Raw(Json.Serialize(Model));
    </script>

    <environment names="Development">
        <script defer src="~/js/stats/unpairedTTestAnalysis.js"></script>
        <script defer src="~/js/openLinks.js"></script>
    </environment>
    <environment names="Production">
        <script defer src="~/js/stats/unpairedTTestAnalysis.min.js"></script>
    </environment>
}

@{
    ViewBag.Title = "Unpaired t-test Analysis";
}

<div class="row">
    <div class="col-md-6">
        <h2>@ViewBag.Title</h2>
    </div>
    <div class="col-md-6">
        <a href="#" onclick="openItem('http://invivostat.co.uk/wp-content/user-guides-v4/Unpaired_t-test_Analysis.pdf')" class="btn btn-info pull-right">Help</a>
    </div>
</div>

<form action="/Analyses/UnpairedTTestAnalysis" class="form-horizontal mt-2" method="post">

    @await Html.PartialAsync("AnalysisErrors")

    <input asp-for="DatasetID" hidden />

    <div class="row">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header">Input Options</div>
                <div class="card-body">
                    <h4>Response</h4>
                    <div class="form-group row">
                        <label class="col-md-6 col-form-label">Response</label>
                        <div class="col-md-6">
                            <input class="form-control" asp-for="Response" />
                            <div><span asp-validation-for="Response"></span></div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-md-6 col-form-label">Response transformation</label>
                        <div class="col-md-6">
                            <input class="form-control" asp-for="ResponseTransformation" />
                            <div><span asp-validation-for="ResponseTransformation"></span></div>
                        </div>
                    </div>
                    <br />

                    <h4>Factor</h4>
                    <div class="form-group row">
                        <label class="col-md-6 col-form-label">Treatment factor</label>
                        <div class="col-md-6">
                            <input class="form-control" asp-for="Treatment" />
                            <div><span asp-validation-for="Treatment"></span></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-6">
            <div class="card">
                <div class="card-header">Output Options</div>
                <div class="card-body">
                    <h4>Overall Results</h4>
                    <div class="form-group row">
                        <label class="col-md-6 col-form-label">Equal variance case</label>
                        <div class="col-md-6">
                            <input class="checkbox-fix" asp-for="EqualVarianceCaseSelected" type="checkbox" />
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-md-6 col-form-label">Unequal variance case</label>
                        <div class="col-md-6">
                            <input class="checkbox-fix" asp-for="UnequalVarianceCaseSelected" type="checkbox" />
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-md-6 col-form-label">Residuals vs. predicted plot</label>
                        <div class="col-md-6">
                            <input class="checkbox-fix" asp-for="ResidualsVsPredictedPlotSelected" type="checkbox" />
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-md-6 col-form-label">Normal probability plot</label>
                        <div class="col-md-6">
                            <input class="checkbox-fix" asp-for="NormalProbabilityPlotSelected" type="checkbox" />
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-md-6 col-form-label">Control group</label>
                        <div class="col-md-6">
                            <input class="form-control" asp-for="ControlGroup" />
                            <div><span asp-validation-for="ControlGroup"></span></div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-md-6 col-form-label">Significance level</label>
                        <div class="col-md-6">
                            <input asp-for="Significance" />
                            <div><span asp-validation-for="Significance"></span></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row my-3">
        <div class="col-md-12 text-right">
            <button class="btn btn-primary btn-lg" type="submit">Submit <i class="fa fa-caret-right"></i></button>
        </div>
    </div>
</form>