@model SilveR.Models.Analysis

@{
    ViewBag.Title = "View Results";
}
<br />

@await Html.PartialAsync("AnalysisErrors")

<form method="post" action="~/Analyses/ViewResults">

    <input id="analysisGuid" name="analysisGuid" value="@Model.AnalysisGuid" hidden />

    <div class="row">
        <div class="col-sm-10 mt10">
            <button class="btn btn-info" name="submitButton" type="submit" value="ViewLog">View Analysis Log</button>
        </div>
        <div class="col-sm-2 mt10">
            <button class="btn btn-primary" name="submitButton" type="submit" value="ReAnalyse">Re-analyse</button>
        </div>
    </div>
</form>

<div class="container">
    @Html.Raw(Model.HtmlOutput)
</div>