@{
    ViewBag.Title = "Analysis Log";
}

<h2>@ViewBag.Title</h2>
<br />

@await Html.PartialAsync("AnalysisErrors")

@if (ViewBag.AnalysisLog != null)
{
    <div id="logOutput">
        @Html.Raw(ViewBag.AnalysisLog.Replace(System.Environment.NewLine, "<br/>"));
    </div>
}
else
{
    <div>
        No analysis log was found!
    </div>
}