@model SilveR.Models.Analysis

@{
    ViewBag.Title = "View Results";
}

@await Html.PartialAsync("AnalysisErrors")

<form>
    <input id="analysisGuid" name="analysisGuid" value="@Model.AnalysisGuid" hidden />

    <div class="row">
        <div class="col">
            <button class="btn btn-info" asp-controller="Analyses" asp-action="ViewLog">View Analysis Log</button>
            @if (System.Runtime.InteropServices.RuntimeInformation.IsOSPlatform(System.Runtime.InteropServices.OSPlatform.Windows))
            {
                <button class="btn btn-secondary" asp-controller="Analyses" asp-action="ExportToPdf" formtarget="_blank">Export to Pdf</button>
            }
        </div>
        <div class="col">
            <button class="btn btn-primary float-right" asp-controller="Analyses" asp-action="ReAnalyse">Re-analyse</button>
        </div>
    </div>
</form>

<div class="container mt-3">
    @Html.Raw(Model.HtmlOutput)
</div>