﻿
html {
    font-size: 14px;
} 

a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
}


.dropdown-submenu {
    position: relative;
}

    .dropdown-submenu a::after {
        transform: rotate(-90deg);
        position: absolute;
        right: 6px;
        top: .8em;
    }

    .dropdown-submenu .dropdown-menu {
        top: 0;
        left: 100%;
        margin-left: .1rem;
        margin-right: .1rem;
    }

.checkbox-fix
{
    margin-top:15px;
}


#grid {
    height: calc(75vh)
}

#spreadsheet {
    width: 100%;
    height: calc(75vh)
}

.text-block {
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: justify;
    line-height: 150%;
    font-size:16px;
}


table.dataframe {
    border: 1px solid #808080;
    background-color: #ffffff;
    width: 100%;
    text-align: center;
    border-collapse: collapse;
}

    table.dataframe td, table.dataframe th {
        border: 1px solid #808080;
        padding: 3px 13px;
    }

    table.dataframe tbody td {
        font-size: 13px;
        text-align: center;
        padding: 3px 13px;
    }

td:nth-child(1) {
    background: #cccccc;
}

table.dataframe th {
    font-size: 15px;
    background-color: #cccccc;
    text-align:center;
}


.k-button {
    color: #fff;
    background-color: #5cb85c;
    border-color: #4cae4c;
}

    .k-button:focus,
    .k-button.focus {
        color: #fff;
        background-color: #449d44;
        border-color: #255625;
    }

    .k-button:hover {
        color: #fff;
        background-color: #449d44;
        border-color: #398439;
    }

    .k-button:active,
    .k-button.active,
    .open > .dropdown-toggle.k-button {
        color: #fff;
        background-color: #449d44;
        border-color: #398439;
    }

        .k-button:active:hover,
        .k-button.active:hover,
        .open > .dropdown-toggle.k-button:hover,
        .k-button:active:focus,
        .k-button.active:focus,
        .open > .dropdown-toggle.k-button:focus,
        .k-button:active.focus,
        .k-button.active.focus,
        .open > .dropdown-toggle.k-button.focus {
            color: #fff;
            background-color: #398439;
            border-color: #255625;
        }

    .k-button:active,
    .k-button.active,
    .open > .dropdown-toggle.k-button {
        background-image: none;
    }

    .k-button.disabled:hover,
    .k-button[disabled]:hover,
    fieldset[disabled] .k-button:hover,
    .k-button.disabled:focus,
    .k-button[disabled]:focus,
    fieldset[disabled] .k-button:focus,
    .k-button.disabled.focus,
    .k-button[disabled].focus,
    fieldset[disabled] .k-button.focus {
        background-color: #5cb85c;
        border-color: #4cae4c;
    }

    .k-button .badge {
        color: #5cb85c;
        background-color: #fff;
    }

.k-numeric-wrap {
    width: 100px;
}

.k-grid .k-state-selected {
    background-color: #ffffff !important;
    color: #000000;
}

.k-grid .k-alt.k-state-selected {
    background-color: #f1f1f1 !important;
    color: #000000;
}

.disabledpanel {
    pointer-events: none;
    opacity: 0.4;
}
